body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.chat-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background-color: #2f3136;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin: 5px 0;
  background-color: #4a4a4a;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #565656;
}

.upperWindow{
  align-items: end;
  display: flex;
  justify-content: end;
}

.chat-window {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #36393f;
  height: 90%;
}

.messages {
  flex: 1;
  overflow-y: scroll;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.message.sent {
  background-color: #4caf50;
  align-self: flex-end;
}

.message.received {
  background-color: #555;
  align-self: flex-start;
}

.message-form {
  display: flex;
  margin-top: 20px;
}

.message-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.message-form button {
  margin-left: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
